<div class="row">
    <button class="btn btn-success" ng-click = "btnAddNewEmployee()"> <i class="fas fa-user"></i> Add new employee</button>
</div>
<br/>
<div class="row">
    <div class="col-md-7" style="float: center;">
        <table class="table table-hover">
            <tr>
                <th>Employee ID</th>
                <th>Employee Name</th>
                <th>Employee Address</th>
                <th>Employee Designation</th>
            </tr>      
            <tr ng-repeat="emp in Employees">
                <td ng-click="populateForm(emp)">{{emp.employeeID}}</td>
                <td ng-click="populateForm(emp)">{{emp.firstName}}</td>
                <td ng-click="populateForm(emp)">{{emp.address}}</td>
                <td ng-click="populateForm(emp)">{{emp.designation}}</td>
                <td>
                    <table>
                        <tr>
                            <td>
                                <i class="far fa-trash-alt fa-lg text-danger" ng-click ="onDelete(emp.employeeID)"></i>
                            </td>
                            <td>
                                <i class="fas fa-user-tag" ng-click = "onUpdateRole(emp.employeeID)"></i>
                                
                            </td>
                            <td>
                                <i class="fa fa-building-o" aria-hidden="true" ng-click = "onUpdateDepartment(emp.employeeID)"></i>
                            </td>
                            <td>
                                <i class="fas fa-project-diagram" ng-click = "addProject(emp.employeeID)"></i>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>    
    </div>
    <hr />
</div>
<modal visible="showModal">
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
            <div class="input-group-text bg-white">
                <i class="fas fa-user-circle"></i>
            </div>
            </div>
            <input type="text" name="updatingRoles.roleID" ng-model="updatingRoles.roleID"
            class="form-control" placeholder="Role ID" required>
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" ng-click="saveUpdatedRolesRecord()" ng-if="!form"><i class="fas fa-database"></i> {{btnText}}</button>
    </div>
</modal>  
<modal visible="addDepartmentModal">
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
            <div class="input-group-text bg-white">
                <i class="fas fa-user-circle"></i>
            </div>
            </div>
            <input type="text" name="updatingDepartment.departmentID" ng-model="updatingDepartment.departmentID"
            class="form-control" placeholder="Department ID" required>
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" ng-click="saveUpdatedDepartmentRecord()" ng-if="!form"><i class="fas fa-database"></i> {{btnText}}</button>
    </div>
    </modal>
</td>
<modal visible ="addNewEmployee">
    <div class="row">
        <div class="col-md-11">
            <form>
                <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text bg-white">
                                    <i class="fas fa-user-circle" [class.green-icon]="name.valid" [class.red-icon]="name.invalid && name.touched"></i>
                                </div>
                            </div>
                            <input type="text" name="insertEmployee.employeeID" ng-model="insertEmployee.employeeID" class="form-control"
                                placeholder="Employee ID" disabled>
                        </div>
                    </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text bg-white">
                                <i class="fas fa-user-circle"></i>
                            </div>
                        </div>
                        <input type="text" name="insertEmployee.firstName" ng-model="insertEmployee.firstName" class="form-control"
                            placeholder="Employee First Name" required>
                    </div>
                </div>
                <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text bg-white">
                                    <i class="fas fa-user-circle"></i>
                                </div>
                            </div>
                            <input type="text" name="insertEmployee.lastName" ng-model="insertEmployee.lastName" class="form-control"
                                placeholder="Employee Last Name" required>
                        </div>
                    </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                        <div class="input-group-text bg-white">
                            <i class="far fa-credit-card"  [class.green-icon]="address.valid" [class.red-icon]="address.invalid && address.touched"></i>
                        </div> 
                        </div>
                        <input type="text" name="insertEmployee.address"  ng-model="insertEmployee.address" 
                        class="form-control" placeholder="Employee Address" required maxlength="40">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                        <div class="input-group-text bg-white">
                            <i class="far fa-credit-card"  [class.green-icon]="address.valid" [class.red-icon]="address.invalid && address.touched"></i>
                        </div> 
                        </div>
                        <input type="text" name="insertEmployee.email"  ng-model="insertEmployee.email" 
                        class="form-control" placeholder="Employee email">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                        <div class="input-group-text bg-white">
                            <i class="far fa-credit-card"  [class.green-icon]="address.valid" [class.red-icon]="address.invalid && address.touched"></i>
                        </div> 
                        </div>
                        <input type="text" name="insertEmployee.contactNumber"  ng-model="insertEmployee.contactNumber" 
                        class="form-control" placeholder="Employee Contact Number">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                        <div class="input-group-text bg-white">
                            <i class="far fa-credit-card"  [class.green-icon]="address.valid" [class.red-icon]="address.invalid && address.touched"></i>
                        </div> 
                        </div>
                        <input type="text" name="insertEmployee.emergencyContactNumber"  ng-model="insertEmployee.emergencyContactNumber" 
                        class="form-control" placeholder="Employee Emergency Contact Number">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                        <div class="input-group-text bg-white">
                            <i class="far fa-credit-card"  [class.green-icon]="address.valid" [class.red-icon]="address.invalid && address.touched"></i>
                        </div> 
                        </div>
                        <input type="text" name="insertEmployee.profilePicture"  ng-model="insertEmployee.profilePicture" 
                        class="form-control" placeholder="Employee Profile Picture">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                        <div class="input-group-text bg-white">
                            <i class="fas fa-user-circle"  [class.green-icon]="designation.valid" [class.red-icon]="designation.invalid && designation.touched"></i>
                        </div>
                        </div>
                        <input type="text" name="insertEmployee.designation" ng-model="insertEmployee.designation" 
                        class="form-control" placeholder="Designation of employee" required maxlength="100">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                        <div class="input-group-text bg-white">
                            <i class="fas fa-user-circle"  [class.green-icon]="companyName.valid" [class.red-icon]="companyName.invalid && companyName.touched"></i>
                        </div>
                        </div>
                        <input type="text" name="insertEmployee.salary" ng-model="insertEmployee.salary"
                        class="form-control" placeholder="Employee salary" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                        <div class="input-group-text bg-white">
                            <i class="fas fa-user-circle"  [class.green-icon]="companyName.valid" [class.red-icon]="companyName.invalid && companyName.touched"></i>
                        </div>
                        </div>
                        <input type="text" name="insertEmployee.isFullTimer" ng-model="insertEmployee.isFullTimer"
                        class="form-control" placeholder="Full Timer" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                        <div class="input-group-text bg-white">
                            <i class="fas fa-user-circle"  [class.green-icon]="companyName.valid" [class.red-icon]="companyName.invalid && companyName.touched"></i>
                        </div>
                        </div>
                        <input type="text" name="insertEmployee.userName" ng-model="insertEmployee.userName"
                        class="form-control" placeholder="User Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                        <div class="input-group-text bg-white">
                            <i class="fas fa-user-circle"  [class.green-icon]="companyName.valid" [class.red-icon]="companyName.invalid && companyName.touched"></i>
                        </div>
                        </div>
                        <input type="text" name="insertEmployee.password" ng-model="insertEmployee.password"
                        class="form-control" placeholder="password" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                        <div class="input-group-text bg-white">
                            <i class="fas fa-user-circle"  [class.green-icon]="companyName.valid" [class.red-icon]="companyName.invalid && companyName.touched"></i>
                        </div>
                        </div>
                        <input type="text" name="insertEmployee.roleID" ng-model="insertEmployee.roleID"
                        class="form-control" placeholder="roleID" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                        <div class="input-group-text bg-white">
                            <i class="fas fa-user-circle"  [class.green-icon]="companyName.valid" [class.red-icon]="companyName.invalid && companyName.touched"></i>
                        </div>
                        </div>
                        <input type="text" name="insertEmployee.departmentID" ng-model="insertEmployee.departmentID"
                        class="form-control" placeholder="departmentID" required>
                    </div>
                </div>
                    <div class="form-group">
                    <button class="btn btn-success btn-lg btn-block" ng-click="insertEmployee.saveEmployeeData()" ng-if="!form"><i class="fas fa-database"></i> {{btnText}}</button>
                </div>
            </form>
        </div>
    </div>
</modal>
<modal visible ="editEmployee">
    <div class="form-group">
        <label>Employee ID</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-user-circle" [class.green-icon]="name.valid" [class.red-icon]="name.invalid && name.touched"></i>
                </div>
            </div>
            <input type="text" name="updateEmployee.employeeID" ng-model="updateEmployee.employeeID" class="form-control"
                placeholder="Employee ID" disabled>
        </div>
    </div>
    <div class="form-group">
        <label>Designation</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-user-circle"></i>
                </div>
            </div>
            <input type="text" name="updateEmployee.designation" ng-model="updateEmployee.designation" class="form-control"
                placeholder="Employee Designation" required>
        </div>
    </div>
    <div class="form-group">
        <label>Is Employee Full Timer?</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-user-circle"></i>
                </div>
            </div>
            <input type="text" name="updateEmployee.isFullTimer" ng-model="updateEmployee.isFullTimer" class="form-control"
                placeholder="Is Employee Full Timer" required>
        </div>
    </div>
    <div class="form-group">
        <label>Employee Salary</label>
        <div class="input-group">
            <div class="input-group-prepend">
            <div class="input-group-text bg-white">
                <i class="far fa-credit-card"  [class.green-icon]="address.valid" [class.red-icon]="address.invalid && address.touched"></i>
            </div> 
            </div>
            <input type="text" name="updateEmployee.salary"  ng-model="updateEmployee.salary" 
            class="form-control" placeholder="Employee salary" required maxlength="40">
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" ng-click="updateEmployee.updateEmployeeData()" ng-if="!form"><i class="fas fa-database"></i> {{btnText}}</button>
    </div>
</div>
</modal>
<modal visible ="assignProjectToEmployee">
    <div class="form-group">
        <md-input-container>
            <label>Select Projects</label>
            <md-select ng-model="assignProject.asdf" multiple> 
                <md-optgroup>
                  <md-option ng-value="proj.projectID" ng-repeat="proj in project" >{{proj.projectName}}</md-option>
                </md-optgroup>
            </md-select>
        </md-input-container>
    </div>
    <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" ng-click="assignProject.onAddProject()" ng-if="!form"><i class="fas fa-database"></i> {{btnText}}</button>
    </div>
</modal>
<style>
.md-select-menu-container, md-backdrop {
    z-index: 9999 !important;
}
</style>