<div class="row">
    <div class="col-md-4">
        <button class="btn btn-success" ng-click="btnAddNewEmployee()"> <i class="fas fa-user"></i> Add new
            employee</button>
    </div>
    <div class="col-md-6 mx-auto">
        <button class="btn btn-success" ng-click="btnEmpSchedule()"> <i ></i>Employee Schedule</button>
    </div>
    <div class="col-md-2">
        <form class="form-inline">
            <div class="form-group">
                <i class="fas fa-search">
                    <input type="text" ng-model="search" class="form-control" placeholder="Search">
                </i>
            </div>
        </form>

    </div>
</div>
<br />
<!-- <div>
    <div ui-grid="gridOptions" ui-grid-pagination></div>
</div> -->

<div class="col-md-12" style="float: center; text-align: center;">
    <table class="table table-hover">
        <tr class="table text-center">
            <th>Employee ID</th>
            <th>Employee First Name</th>
            <th>Employee Last Name</th>
            <th>Employee Address</th>
            <th>Employee Designation</th>
            <th>Role</th>
            <th>Department</th>
            <th>Actions</th>
        </tr>

        <!-- <tr ng-repeat="emp in Employees| filter:search | startFrom: currentPage*5"> -->
        <tr dir-paginate="emp in Employees | filter:search | itemsPerPage: 5">
            <td ng-click="populateForm(emp)">{{emp.employeeID}}</td>
            <td ng-click="populateForm(emp)">{{emp.firstName}}</td>
            <td ng-click="populateForm(emp)">{{emp.lastName}}</td>
            <td ng-click="populateForm(emp)">{{emp.address}}</td>
            <td ng-click="populateForm(emp)">{{emp.designation}}</td>
            <td>{{emp.roleName}}</td>
            <td>{{emp.departmentName}}</td>
            <td>
                <table class="table table-borderless">
                    <tr>
                        <td>
                            <i class="far fa-trash-alt fa-lg text-danger" ng-click="onDelete(emp.employeeID)"></i>
                        </td>
                        <td>
                            <i class="fas fa-user-tag" ng-click="onUpdateRole(emp.employeeID)"></i>

                        </td>
                        <td>
                            <i class="fa fa-building-o" aria-hidden="true"
                                ng-click="onUpdateDepartment(emp.employeeID)"></i>
                        </td>
                        <td>
                            <i class="fas fa-project-diagram" ng-click="addProject(emp.employeeID)"></i>
                        </td>
                        <td>
                            <i class="fas fa-user-edit" ng-click="editContactx(emp)"></i>
                        </td>

                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <hr>
    <div>
        <button ng-disabled="currentPage == 0" ng-click="change(-1)">
            Previous
        </button>
        {{currentPage+1}}/{{numberOfPages()}}
        <button ng-disabled="currentPage >= ((EmployeesCount)/5) -1 " ng-click="change(1)">
            Next {{EmployeesCount}}
        </button>
    </div>
</div>



<!-- <div class="pages">
    <dir-pagination-controls max-size="3" direction-links="true" boundary-links="true">
    </dir-pagination-controls>
</div> -->

<modal visible="showModal">
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-user-circle"></i>
                </div>
            </div>
            <!-- <input type="text" name="updatingRoles.roleID" ng-model="updatingRoles.roleID" class="form-control"
                placeholder="Role ID" required> -->
            <md-select class="form-control" placeholder="Select Role" name="updatingRoles.roleID" ng-model="updatingRoles.roleID" > 
                <md-option ng-value="1">Admin</md-option>
                <md-option ng-value="2">Team Leads</md-option>
                <md-option ng-value="3">Employees</md-option>
            </md-select>
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" ng-click="saveUpdatedRolesRecord()" ng-if="!form"><i
                class="fas fa-database"></i> {{btnText}}</button>
    </div>
</modal>
<modal visible="addDepartmentModal">
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-user-circle"></i>
                </div>
            </div>
            <!-- <input type="text" name="updatingDepartment.departmentID" ng-model="updatingDepartment.departmentID"
                class="form-control" placeholder="Department ID" required> -->
            <md-select class="form-control" ng-model="updatingDepartment.departmentID" placeholder="Select Department"> 
                <md-option ng-value="dept.departmentID" ng-repeat="dept in departments" >{{dept.departmentName}}</md-option>
            </md-select>
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" ng-click="saveUpdatedDepartmentRecord()" ng-if="!form"><i
                class="fas fa-database"></i> {{btnText}}</button>
    </div>
</modal>
</td>
<modal visible="addNewEmployee">
    <div class="row">
        <div class="col-md-11">
            <form>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text bg-white">
                                <i class="fas fa-user-circle"></i>
                            </div>
                        </div>
                        <input type="text" name="insertEmployee.employeeID" ng-model="insertEmployee.employeeID"
                            class="form-control" placeholder="Employee ID" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text bg-white">
                                <i class="fas fa-user-circle"></i>
                            </div>
                        </div>
                        <input type="text" name="insertEmployee.firstName" ng-model="insertEmployee.firstName"
                            class="form-control" placeholder="Employee First Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text bg-white">
                                <i class="fas fa-user-circle"></i>
                            </div>
                        </div>
                        <input type="text" name="insertEmployee.lastName" ng-model="insertEmployee.lastName"
                            class="form-control" placeholder="Employee Last Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text bg-white">
                                <i class="far fa-credit-card"></i>
                            </div>
                        </div>
                        <input type="text" name="insertEmployee.address" ng-model="insertEmployee.address"
                            class="form-control" placeholder="Employee Address" required maxlength="40">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text bg-white">
                                <i class="far fa-credit-card"></i>
                            </div>
                        </div>
                        <input type="text" name="insertEmployee.email" ng-model="insertEmployee.email"
                            class="form-control" placeholder="Employee email">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text bg-white">
                                <i class="far fa-credit-card"></i>
                            </div>
                        </div>
                        <input type="text" name="insertEmployee.contactNumber" ng-model="insertEmployee.contactNumber"
                            class="form-control" placeholder="Employee Contact Number">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text bg-white">
                                <i class="far fa-credit-card"></i>
                            </div>
                        </div>
                        <input type="text" name="insertEmployee.emergencyContactNumber"
                            ng-model="insertEmployee.emergencyContactNumber" class="form-control"
                            placeholder="Employee Emergency Contact Number">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text bg-white">
                                <i class="far fa-credit-card" [class.green-icon]="address.valid"
                                    [class.red-icon]="address.invalid && address.touched"></i>
                            </div>
                            <div ng-controller="UploadCtrl">
                                <input type="file" ng-model="insertEmployee.imageSrc" name="imageSrc"
                                    class="form-control" ng-file-select="onFileSelect($files)"
                                    placeholder="Employee Profile Picture">
                                <!-- {{imageSrc}} -->
                                <img class="empimage" ng-src="{{insertEmployee.imageSrc}}" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text bg-white">
                                <i class="fas fa-user-circle"></i>
                            </div>
                        </div>
                        <input type="text" name="insertEmployee.designation" ng-model="insertEmployee.designation"
                            class="form-control" placeholder="Designation of employee" required maxlength="100">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text bg-white">
                                <i class="fas fa-user-circle"></i>
                            </div>
                        </div>
                        <input type="text" name="insertEmployee.salary" ng-model="insertEmployee.salary"
                            class="form-control" placeholder="Employee salary" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text bg-white">
                                <i class="fas fa-user-circle"></i>
                            </div>
                        </div>
                        <!-- <input type="text" name="insertEmployee.isFullTimer" ng-model="insertEmployee.isFullTimer"
                            class="form-control" placeholder="Full Timer" required> -->
                        <md-select placeholder="Full Timer" name="insertEmployee.isFullTimer" ng-model="insertEmployee.isFullTimer" class="form-control"> 
                            <md-option ng-value="true">True</md-option>
                            <md-option ng-value="false">False</md-option>
                        </md-select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text bg-white">
                                <i class="fas fa-user-circle" [class.green-icon]="companyName.valid"
                                    [class.red-icon]="companyName.invalid && companyName.touched"></i>
                            </div>
                        </div>
                        <input type="text" name="insertEmployee.userName" ng-model="insertEmployee.userName"
                            class="form-control" placeholder="User Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text bg-white">
                                <i class="fas fa-user-circle" [class.green-icon]="companyName.valid"
                                    [class.red-icon]="companyName.invalid && companyName.touched"></i>
                            </div>
                        </div>
                        <input type="text" name="insertEmployee.password" ng-model="insertEmployee.password"
                            class="form-control" placeholder="password" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text bg-white">
                                <i class="fas fa-user-circle"></i>
                            </div>
                        </div>
                        <!-- <input type="text" name="insertEmployee.roleID" ng-model="insertEmployee.roleID"
                            class="form-control" placeholder="roleID" required> -->
                        <md-select class="form-control" placeholder="Select Role" name="insertEmployee.roleID" ng-model="insertEmployee.roleID" > 
                            <md-option ng-value="1">Admin</md-option>
                            <md-option ng-value="2">Team Leads</md-option>
                            <md-option ng-value="3">Employees</md-option>
                        </md-select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text bg-white">
                                <i class="fas fa-user-circle" [class.green-icon]="companyName.valid"
                                    [class.red-icon]="companyName.invalid && companyName.touched"></i>
                            </div>
                        </div>
                        <!-- <input type="text" name="insertEmployee.departmentID" ng-model="insertEmployee.departmentID"
                            class="form-control" placeholder="departmentID" required> -->
                        <md-select class="form-control" ng-model="insertEmployee.departmentID" placeholder="Select Department"> 
                            <md-option ng-value="dept.departmentID" ng-repeat="dept in departments" >{{dept.departmentName}}</md-option>
                        </md-select>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-success btn-lg btn-block" ng-click="insertEmployee.saveEmployeeData()"
                        ng-if="!form"><i class="fas fa-database"></i> {{btnText}}</button>
                </div>
            </form>
        </div>
    </div>
</modal>
<modal visible="editEmployee">
    <div class="form-group">
        <label>Employee ID</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-user-circle" [class.green-icon]="name.valid"
                        [class.red-icon]="name.invalid && name.touched"></i>
                </div>
            </div>
            <input type="text" name="updateEmployee.employeeID" ng-model="updateEmployee.employeeID"
                class="form-control" placeholder="Employee ID" disabled>
        </div>
    </div>
    <div class="form-group">
        <label>Designation</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-user-circle"></i>
                </div>
            </div>
            <input type="text" name="updateEmployee.designation" ng-model="updateEmployee.designation"
                class="form-control" placeholder="Employee Designation" required>
        </div>
    </div>
    <div class="form-group">
        <label>Is Employee Full Timer?</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-user-circle"></i>
                </div>
            </div>
            <input type="text" name="updateEmployee.isFullTimer" ng-model="updateEmployee.isFullTimer"
                class="form-control" placeholder="Is Employee Full Timer" required>
        </div>
    </div>
    <div class="form-group">
        <label>Employee Salary</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="far fa-credit-card" [class.green-icon]="address.valid"
                        [class.red-icon]="address.invalid && address.touched"></i>
                </div>
            </div>
            <input type="text" name="updateEmployee.salary" ng-model="updateEmployee.salary" class="form-control"
                placeholder="Employee salary" required maxlength="40">
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" ng-click="updateEmployee.updateEmployeeData()" ng-if="!form"><i
                class="fas fa-database"></i> {{btnText}}</button>
    </div>
</modal>
<modal visible ="assignProjectToEmployee">
    <div class="form-group">
        <md-input-container>
            <label>Select Projects</label>
            <md-select ng-model="assignProject.asdf" multiple> 
                <md-optgroup>
                  <md-option ng-value="proj.projectID" ng-repeat="proj in project" >{{proj.projectName}}</md-option>
                </md-optgroup>
            </md-select>
        </md-input-container>
    </div>
    <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" ng-click="assignProject.onAddProject()" ng-if="!form"><i class="fas fa-database"></i> {{btnText}}</button>
    </div>
</modal>

<modal visible="editContacts">
    <div class="form-group">
        <label for="pp">picture</label>
        <div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <i class="fas fa-user-circle" [class.green-icon]="name.valid"
                            [class.red-icon]="name.invalid && name.touched"></i>
                    </div>
                </div>
                <input type="file" ng-model="editContact.profilePicture" name="imageSrc" class="form-control"
                    ng-file-select="onFileSelect($files)" placeholder="Employee Profile Picture">
                <img class="empimage" ng-src="{{editContact.profilePicture}}" alt="" ng-click="" />
                <!-- <input type="text" name="editContact.profilePicture" ng-model="editContact.profilePicture" class="form-control"
                    disabled> -->
            </div>
        </div>

        <label for="contactID">ContactID</label>
        <div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <i class="fas fa-user-circle" [class.green-icon]="name.valid"
                            [class.red-icon]="name.invalid && name.touched"></i>
                    </div>
                </div>
                <input type="text" name="editContact.contactID" ng-model="editContact.contactID" class="form-control"
                    disabled>
            </div>
        </div>
        <label for="firstName">FirstName</label>

        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-user-circle" [class.green-icon]="name.valid"
                        [class.red-icon]="name.invalid && name.touched"></i>
                </div>
            </div>
            <input type="text" name="editContact.firstName" ng-model="editContact.firstName" class="form-control"
                placeholder="Employee FirstName">
        </div>

        <label for="lastName">LastName</label>

        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-user-circle" [class.green-icon]="name.valid"
                        [class.red-icon]="name.invalid && name.touched"></i>
                </div>
            </div>
            <input type="text" name="editContact.lastName" ng-model="editContact.lastName" class="form-control"
                placeholder="Employee lastName">
        </div>

        <label for="address">Address</label>

        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-user-circle" [class.green-icon]="name.valid"
                        [class.red-icon]="name.invalid && name.touched"></i>
                </div>
            </div>
            <input type="text" name="editContact.address" ng-model="editContact.address" class="form-control"
                placeholder="Employee Address">
        </div>

        <label for="cNumber">Contact Number</label>

        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-user-circle" [class.green-icon]="name.valid"
                        [class.red-icon]="name.invalid && name.touched"></i>
                </div>
            </div>
            <input type="text" name="editContact.contactNumber" ng-model="editContact.contactNumber"
                class="form-control" placeholder="Employee Contact Number">
        </div>

        <label for="eCNumber">Emergency Number</label>

        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-user-circle" [class.green-icon]="name.valid"
                        [class.red-icon]="name.invalid && name.touched"></i>
                </div>
            </div>
            <input type="text" name="editContact.eContactNumber" ng-model="editContact.eContactNumber"
                class="form-control" placeholder="Employee Emergency Number">
        </div>

        <label for="EMail">EMail Address</label>

        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-user-circle" [class.green-icon]="name.valid"
                        [class.red-icon]="name.invalid && name.touched"></i>
                </div>
            </div>
            <input type="text" name="editContact.eMail" ng-model="editContact.eMail" class="form-control"
                placeholder="Employee eMail Address">
        </div>

        <div class="form-group">
            <button class="btn btn-success btn-lg btn-block" ng-click="saveEditedContact()" ng-if="!form"><i
                    class="fas fa-database"></i> Update</button>
        </div>
    </div>
</modal>
<div>
        <modal visible="empScheduleModal">
            <button class="btn btn-secondary" ng-click="export()">Export</button>
            <br />
            <br />
            <table>
                <table class="table table-hover">
                    <tr class="table text-center">
                        <th>Employee ID</th>
                        <th>Employee First Name</th>
                        <th>Employee Last Name</th>
                        <th>In Time</th>
                        <th>Out Time</th>
                        <th>Total Work Per Day</th>
                    </tr>
                    <tr dir-paginate="empS in EmpSchedules | itemsPerPage: 5">
                        <td>{{empS.employeeID}}</td>
                        <td>{{empS.employeeFirstName}}</td>
                        <td>{{empS.employeeLastName}}</td>
                        <td>{{empS.inTime}}</td>
                        <td>{{empS.outTime}}</td>
                        <td>{{empS.totalHourWorkPerday}}</td>
                    </tr >
            </table>
            <div>
                <button ng-disabled="sCurrentPage == 0" ng-click="changeSchedule(-1)">
                    Previous
                </button>
                {{sCurrentPage+1}}/{{numberofSchedulePage()}}
                <button ng-disabled="sCurrentPage >= ((eSC)/5) -1 " ng-click="changeSchedule(1)">
                    Next {{eSC}}
                </button>
            </div>
        </modal>
  
    
    
</div>

<style>
    .md-select-menu-container, md-backdrop {
        z-index: 9999 !important;
    }
</style>