<div class="row">
    <div class="col-md-5">
        <form>
            <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text bg-white">
                                <i class="fas fa-user-circle" [class.green-icon]="name.valid" [class.red-icon]="name.invalid && name.touched"></i>
                            </div>
                        </div>
                        <input type="text" name="employeeID" ng-model="employeeID" class="form-control"
                            placeholder="Employee ID" disabled>
                    </div>
                </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text bg-white">
                            <i class="fas fa-user-circle"></i>
                        </div>
                    </div>
                    <input type="text" name="firstName" ng-model="firstName" class="form-control"
                        placeholder="Employee First Name" required>
                </div>
            </div>
            <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text bg-white">
                                <i class="fas fa-user-circle"></i>
                            </div>
                        </div>
                        <input type="text" name="lastName" ng-model="lastName" class="form-control"
                            placeholder="Employee Last Name" required>
                    </div>
                </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <i class="far fa-credit-card"  [class.green-icon]="address.valid" [class.red-icon]="address.invalid && address.touched"></i>
                    </div> 
                    </div>
                    <input type="text" name="address"  ng-model="address" 
                    class="form-control" placeholder="Employee Address" required maxlength="40">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <i class="far fa-credit-card"  [class.green-icon]="address.valid" [class.red-icon]="address.invalid && address.touched"></i>
                    </div> 
                    </div>
                    <input type="text" name="email"  ng-model="email" 
                    class="form-control" placeholder="Employee email">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <i class="far fa-credit-card"  [class.green-icon]="address.valid" [class.red-icon]="address.invalid && address.touched"></i>
                    </div> 
                    </div>
                    <input type="text" name="contactNumber"  ng-model="contactNumber" 
                    class="form-control" placeholder="Employee Contact Number">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <i class="far fa-credit-card"  [class.green-icon]="address.valid" [class.red-icon]="address.invalid && address.touched"></i>
                    </div> 
                    </div>
                    <input type="text" name="emergencyContactNumber"  ng-model="emergencyContactNumber" 
                    class="form-control" placeholder="Employee Emergency Contact Number">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <i class="far fa-credit-card"  [class.green-icon]="address.valid" [class.red-icon]="address.invalid && address.touched"></i>
                    </div> 
                    </div>
                    <input type="text" name="profilePicture"  ng-model="profilePicture" 
                    class="form-control" placeholder="Employee Profile Picture">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <i class="fas fa-user-circle"  [class.green-icon]="designation.valid" [class.red-icon]="designation.invalid && designation.touched"></i>
                    </div>
                    </div>
                    <input type="text" name="designation" ng-model="designation" 
                    class="form-control" placeholder="Designation of employee" required maxlength="100">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <i class="fas fa-user-circle"  [class.green-icon]="companyName.valid" [class.red-icon]="companyName.invalid && companyName.touched"></i>
                    </div>
                    </div>
                    <input type="text" name="salary" ng-model="salary"
                    class="form-control" placeholder="Employee salary" required>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <i class="fas fa-user-circle"  [class.green-icon]="companyName.valid" [class.red-icon]="companyName.invalid && companyName.touched"></i>
                    </div>
                    </div>
                    <input type="text" name="isFullTimer" ng-model="isFullTimer"
                    class="form-control" placeholder="Full Timer" required>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <i class="fas fa-user-circle"  [class.green-icon]="companyName.valid" [class.red-icon]="companyName.invalid && companyName.touched"></i>
                    </div>
                    </div>
                    <input type="text" name="userName" ng-model="userName"
                    class="form-control" placeholder="User Name" required>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <i class="fas fa-user-circle"  [class.green-icon]="companyName.valid" [class.red-icon]="companyName.invalid && companyName.touched"></i>
                    </div>
                    </div>
                    <input type="text" name="password" ng-model="password"
                    class="form-control" placeholder="password" required>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <i class="fas fa-user-circle"  [class.green-icon]="companyName.valid" [class.red-icon]="companyName.invalid && companyName.touched"></i>
                    </div>
                    </div>
                    <input type="text" name="roleID" ng-model="roleID"
                    class="form-control" placeholder="roleID" required>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <i class="fas fa-user-circle"  [class.green-icon]="companyName.valid" [class.red-icon]="companyName.invalid && companyName.touched"></i>
                    </div>
                    </div>
                    <input type="text" name="departmentID" ng-model="departmentID"
                    class="form-control" placeholder="departmentID" required>
                </div>
            </div>
            
                 
                  <div class="form-group">
                    <button class="btn btn-success btn-lg btn-block" ng-click="saveData()" ng-if="!form"><i class="fas fa-database"></i> {{btnText}}</button>
                  </div>
        </form>
    </div>
    <div class="col-md-7">
        <table class="table table-hover">
            <tr>
                <th>Employee ID</th>
                <th>Employee Name</th>
                <th>Employee Address</th>
                <!-- <th>Employee Company</th> -->
                <th>Employee Designation</th>
            </tr>      
            <tr ng-repeat="emp in Employees">
                <td ng-click="populateForm(emp)">{{emp.employeeID}}</td>
                <td ng-click="populateForm(emp)">{{emp.firstName}}</td>
                <td ng-click="populateForm(emp)">{{emp.address}}</td>
                <!-- <td ng-click="populateForm(emp)">{{emp.companyName}}</td> -->
                <td ng-click="populateForm(emp)">{{emp.designation}}</td>
                <td>
                    <table>
                        <tr>
                            <td>
                                <i class="far fa-trash-alt fa-lg text-danger" ng-click ="onDelete(emp.employeeID)"></i>
                            </td>
                            <td>
                                <i class="fas fa-user-tag" ng-click = "onUpdateRole(emp.employeeID)"></i>
                                
                            </td>
                            <td>
                                <i class="fa fa-building-o" aria-hidden="true" ng-click = "onUpdateDepartment(emp.employeeID)"></i>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>    
    </div>
    <hr />
</div>
<modal visible="showModal">
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
            <div class="input-group-text bg-white">
                <i class="fas fa-user-circle"></i>
            </div>
            </div>
            <input type="text" name="updatingRoles.roleID" ng-model="updatingRoles.roleID"
            class="form-control" placeholder="Role ID" required>
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" ng-click="saveUpdatedRolesRecord()" ng-if="!form"><i class="fas fa-database"></i> {{btnText}}</button>
    </div>
</modal>  
<modal visible="addDepartmentModal">
    <h1>Hari om namanamanama</h1>
    </modal>
</td>