<div class="row" style="padding-top: 20px;">

    <div class="col-xl-4 col-sm-6 mb-3">
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">Employee CRUD</div>
            <div class="card-body">
                <h5 class="card-title">Total Number of Current Employee</h5>
                <p class="card-text">Employees: {{EmployeesCount}} </p>
            </div>
            <div class="card-footer">
                <a ui-sref="employee" style="color: antiquewhite;">
                    Click here
                </a>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-sm-6 mb-3">
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">Projects CRUD</div>
            <div class="card-body">
                <h5 class="card-title">Total Number of projects</h5>
                <p class="card-text">Projects: {{ProjectCount}} </p>
            </div>
            <div class="card-footer">
                <a ui-sref="project" style="color: antiquewhite;">
                    Click here
                </a>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-sm-6 mb-3">
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">Clients CRUD</div>
            <div class="card-body">
                <h5 class="card-title">Total Number of clients</h5>
                <p class="card-text">Clients: {{ClientCount}} </p>
            </div>
            <div class="card-footer">
                <a ui-sref="clients" style="color: antiquewhite;">
                    Click here
                </a>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12" style="text-align: center;">
    <table class="table table-hover">
        <tr class="table text-center">
            <th>Employee ID</th>
            <th>Employee First Name</th>
            <th>Department</th>
            <th>Total Hours Worked</th>
            <th>Average Hours WorkingTime</th>
        </tr>

        <tr dir-paginate="emp in EmployeeSch | itemsPerPage: 6">
            <td>{{emp.employeeID}}</td>
            <td>{{emp.firstName}}</td>
            <td>{{emp.departmentName}}</td>
            <td>{{emp.totalhrs}}</td>
            <td>{{emp.avghrs}}</td>
        </tr>
    </table>
    <div class="pages">
        <dir-pagination-controls max-size="3" direction-links="true" boundary-links="true">
        </dir-pagination-controls>
    </div>

</div>