<div class="row" style="padding-top: 20px;">
    <div class="col-xl-4 col-sm-6 mb-3">
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">Employee CRUD</div>
            <div class="card-body">
                <h5 class="card-title">Total Number of Current Employee</h5>
                <p class="card-text">Employees: {{EmployeesCount}} </p>
            </div>
            <div class="card-footer">
                <a ui-sref="employee" style="color: antiquewhite;">
                    Click here
                </a>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-sm-6 mb-3">
            <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">Projects CRUD</div>
                <div class="card-body">
                    <h5 class="card-title">Total Number of projects</h5>
                    <p class="card-text">Projects: {{ProjectCount}} </p>
                </div>
                <div class="card-footer">
                    <a ui-sref="project" style="color: antiquewhite;">
                        Click here
                    </a>
                </div>
            </div>
        </div>
</div>