<div>
    <button class="btn btn-primary" ng-click="addNewClient()"> <i class="fas fa-user-plus"></i> Add new
        client</button>
</div>
<div class="col-md-12">
    <table class="table table-hover">
        <tr>
            <th>ClientID</th>
            <th>Client Name</th>
            <th>Client Office</th>
            <th>Client Office Address</th>
            <th>Client Contact Number</th>
            <th>Actions</th>
        </tr>
        <tr ng-repeat="c in clients">
            <td ng-click="editClient(c)">{{c.clientID}}</td>
            <td ng-click="editClient(c)"> {{c.clientFirstName}}</td>
            <td ng-click="editClient(c)">{{c.clientOffice}}</td>
            <td ng-click="editClient(c)">{{c.officeAddress}}</td>
            <td ng-click="editClient(c)">{{c.clientContactNumber}}</td>
            <td>
                <table class="table table-borderless">

                    <tr>
                        <td>
                            <i class="fas fa-tasks" ng-click="addProject(c.clientID)"></i>
                        </td>
                        <td>
                            <i class="far fa-trash-alt fa-lg text-danger" ng-click="delete(c.clientID)"></i>
                        </td>

                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</div>

<modal visible="addClientModal">
    <div class="form-group">
        <label for="ClientID">Client ID</label>

        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-user-circle" [class.green-icon]="name.valid"
                        [class.red-icon]="name.invalid && name.touched"></i>
                </div>
            </div>
            <input type="text" name="ClientID" ng-model="ClientID" class="form-control" placeholder="Client ID"
                disabled>
        </div>


        <label for="ClientName">Client Name</label>

        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-user-circle"></i>
                </div>
            </div>
            <input type="text" name="ClientName" ng-model="insertClient.ClientName" class="form-control"
                placeholder="Client Name" required>
        </div>


        <label for="ClientDesc">Client Office</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-user-circle"></i>
                </div>
            </div>
            <input type="text" name="ClientDesc" ng-model="insertClient.ClientOffice" class="form-control"
                placeholder="Client Office" required>
        </div>

        <label for="startDate">Contact Office Address </label>

        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-user-circle"></i>
                </div>
            </div>
            <input type="text" name="ClientSD" ng-model="insertClient.ClientOAddress" class="form-control"
                placeholder="Contact Office Address" required>
        </div>

        <label for="endDate">Client Contact Number</label>

        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-user-circle"></i>
                </div>
            </div>
            <input type="text" name="ClientED" ng-model="insertClient.ClientContactNumber" class="form-control"
                placeholder="Client Contact Number" required>
        </div>

        <div class="form-group">
            <button class="btn btn-success btn-lg btn-block" ng-click="saveData()" ng-if="!form"><i
                    class="fas fa-database"></i> Save </button>
        </div>
    </div>
</modal>

<modal visible="editClientModal">
    <div class="form-group">
        <label for="ClientID">Client ID</label>

        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-user-circle" [class.green-icon]="name.valid"
                        [class.red-icon]="name.invalid && name.touched"></i>
                </div>
            </div>
            <input type="text" name="ClientID" ng-model="edit.ClientID" class="form-control" placeholder="Client ID"
                disabled>
        </div>


        <label for="ClientName">Client Name</label>

        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-user-circle"></i>
                </div>
            </div>
            <input type="text" name="ClientName" ng-model="edit.ClientName" class="form-control"
                placeholder="Client Name" required>
        </div>
        <label for="ClientOffice">Client Office</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-user-circle"></i>
                </div>
            </div>
            <input type="text" name="ClientOffice" ng-model="edit.ClientOffice" class="form-control"
                placeholder="Client Office" required>
        </div>

        <label for="ClientOAddress">Office Address</label>

        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-user-circle"></i>
                </div>
            </div>
            <input type="text" name="ClientOAddress" ng-model="edit.ClientOAddress" class="form-control"
                placeholder="Client Office Address" required>
        </div>

        <label for="ClientContactNumber">Client Contact Number</label>

        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-user-circle"></i>
                </div>
            </div>
            <input type="text" name="ClientContactNumber" ng-model="edit.ClientContactNumber" class="form-control"
                placeholder="Client Contact Number" required>
        </div>

        <div class="form-group">
            <button class="btn btn-success btn-lg btn-block" ng-click="updateClient()" ng-if="!form"><i
                    class="fas fa-database"></i> Save </button>
        </div>
    </div>
</modal>

<modal visible="deleteClientModal">
    <button class="btn btn-primary" ng-click="deleteClient()">Yes</button>
    <button class="btn btn-secondary" ng-click="delete()">No</button>
</modal>

<modal visible="assignProjectToClient">
    <div class="form-group">
        <md-input-container>
            <label>Select Projects</label>
            <md-select ng-model="assignProject.projects" multiple>
                <md-optgroup>
                    <md-option ng-value="proj.projectID" ng-repeat="proj in project">{{proj.projectName}}</md-option>
                </md-optgroup>
            </md-select>
        </md-input-container>
    </div>
    <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" ng-click="assignProject.onAddProject()" ng-if="!form"><i
                class="fas fa-database"></i> {{btnText}}</button>
    </div>
</modal>
<style>
    .md-select-menu-container, md-backdrop {
        z-index: 9999 !important;
    }
</style>