<div class="row">
    <div class="col-lg-11 col-centered">
        <div class="card">
            <div class="card-image">
                <img src="/views/Forbidden/img.jpg" style="height:50%; width:50%; margin: auto 25%;">
            </div>
            <div class="card-content">
                <span class="card-title" style="color: #039be5;">403-ACCESS DENIED</span>
                <p>You don't have the permission to access this resource.</p>
            </div>
        </div>
    </div>
</div>
